.dashboard {
  grid-column: 0;
  grid-row: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px;
  height: 186px;
  width: 516px;
  margin: 16px;
}

.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
}

.statistics{
    border-radius: 14px;
    grid-column: 1;
    grid-row: 2;
    background-color: #FFFFFF;
    height: 507px;
    width: 516px;
    margin-left: 16px;
}

.background{
    border-radius: 14px;
    grid-column: 2;
    background-color: #FFFFFF;
    height: 723px;
    width: 480px;
    margin: 16px;
}